@page

@using Microsoft.Extensions.Localization;
@using Minecraft.Crafting.Website.Pages;

@model Minecraft.Crafting.Website.Pages.ErrorModel
@inject IStringLocalizer<ErrorModel> Localizer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">@Localizer["Error_title"]</h1>
            <h2 class="text-danger">@Localizer["Error_message"]</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>@Localizer["Request_id"]</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>@Localizer["Development_mode"]</h3>
            <p>
                @Localizer["Swap"] <strong>@Localizer["Development"]</strong> @Localizer["this_is_why"]
            </p>
            <p>
                <strong>@Localizer["blabla"]</strong> 
                @Localizer["some_text"] <strong>@Localizer["Development"]</strong> @Localizer["env_by"] 
                <strong>ASPNETCORE_ENVIRONMENT</strong> @Localizer["env_va"] <strong>@Localizer["Development"]</strong> @Localizer["restart"]
            </p>
        </div>
    </div>
</body>

</html>
