@using Minecraft.Crafting.Website.Models


<input @bind="searchText"/>
<button @onclick="SearchClicked">Search</button>

<DataGrid TItem="Item"
          Data="@items"
          ReadData="@OnReadData"
          TotalItems="@totalItem"
          PageSize="10"
          ShowPager
          Responsive>
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="#" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption=@Localizer["Image"]>
        <DisplayTemplate>
            @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
            {
                <InventoryItem Item="this.items.FirstOrDefault()" NoDrop="false" />
                //<img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="min-width: 50px; max-width: 150px" />
            }
            else
            {
                <img src="images/default.png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 150px" />
            }
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption=@Localizer["Display_Name"] />
    <DataGridColumn TItem="Item" Field="@nameof(Item.StackSize)" Caption=@Localizer["Size_Stack"] />
    <DataGridColumn TItem="Item" Field="@nameof(Item.MaxDurability)" Caption=@Localizer["Maximum_Durability"] />
    <DataGridColumn TItem="Item" Field="@nameof(Item.EnchantCategories)" Caption=@Localizer["Enchant_Categories"]>
        <DisplayTemplate>
            @(string.Join(", ", ((Item)context).EnchantCategories))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.RepairWith)" Caption=@Localizer["Repair_With"]>
        <DisplayTemplate>
            @(string.Join(", ", ((Item)context).RepairWith))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="Item" Field="@nameof(Item.CreatedDate)" Caption=@Localizer["Created_Date"] DisplayFormat="{0:d}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" />
    <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption=@Localizer["Action"]>
        <DisplayTemplate>
            <a href="Edit/@(context.Id)" class="btn btn-primary"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>
            <button type="button" class="btn btn-primary" @onclick="() => OnDelete(context.Id)"><i class="fa fa-trash"></i> @Localizer["Delete"]</button>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>